<head>
    <title>Financial Portal</title>
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Welcome to Financial Robo Advisor</h2>
        <form action="/main" method="post">
            <h4>Please enter your name : </h4>
            <input type="text" name="q">
            <input type="submit" value="Submit">
        </form>
</div>
</body>
